@model PortfolioProject.Models.Offers
@{
    ViewBag.Title = "AddOffer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Angebot Hinzufügen</h2>

<section id="container">
    <section id="main-content">
        <section class="wrapper">

            @using (Html.BeginForm("AddOffer", "Offer", FormMethod.Post))
            {
                @Html.Label("Überschrift")
                @Html.TextBoxFor( o=> o.Heading, new { @class = "form-control", @type = "text" })
                @Html.Label("Beschreibung")
                @Html.TextBoxFor(o => o.Description, new { @class = "form-control", @type = "text" })
                @Html.Label("Icon")
                @Html.TextBoxFor(o => o.Icon, new { @class = "form-control", @type = "text" })
                <br />
                <button type="submit" class="btn btn-primary">Hinzufügen</button>

            }
        </section>
    </section>
</section>



