@using PortfolioProject.Models
@model List<Projects>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="container">
    <section id="main-content">
        <section class="wrapper">
            <div class="table-agile-info">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Projekte
                    </div>
                    <div style="overflow-y: auto;">
                        <table class="table table-bordered">

                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Überschrift</th>
                                    <th>Beschreibung</th>
                                    <th>Bild</th>
                                    <th>GitHub Link</th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.Heading</td>
                                    <td>@item.Description</td>
                                    <td>@item.Image</td>
                                    <td>@item.GitHubLink</td>
                                    <td><a href="/Project/DeleteProject/@item.ID" class="btn btn-outline-danger"><i class="fa fa-remove"> Löschen</i></a></td>
                                    <td><a href="/Project/UpdateProject/@item.ID" class="btn btn-outline-success"><i class="fa fa-upload"> Update</i></a></td>
                                </tr>
                                }


                            </tbody>
                        </table>

                    </div>

                </div>
                <a href="/Project/AddProject" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill">  Hinzufügen</i></a>
            </div>
        </section>
        <!-- footer -->
        <!-- / footer -->
    </section>

    <!--main content end-->
</section>
